@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    background-image: url("Imagem-fundo/fundo1.jpg");
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

menu, a{
    text-decoration: none;
    color: #000;
    padding: 20px;
    margin-left: 90px;
}

h1, h2, p {
    text-align: center;
    color: white;
    margin: 20px;
}

h1 {
    font-size: 3em;
    margin-top: 50px;
}

h2 {
    font-size: 2em;
}

p {
    text-align: center;

}

li {
    text-align: center;

}

.sign{
    text-align: center;
}

.label-input {
    margin-left: 160px;
    padding:auto;
}

.label2{
    margin-left:160px;
}

.button{
    margin-left:610px
}

.link {
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    margin-left: 570px;
}